html{
    color: white;
    background:black;
    text-align: center;
    margin-top: 35px;
}
img{
    border: 5px solid white;
    border-image-width: 100%;
}

div{
    width:50%;
    margin-left: 25%;
    background-color: black;
    
  }

h1{
    background-color: black;
    color:white;
    font-family: 'VT323', monospace;
}
h2{
    color:white;
    background-color: black;
    font-family: 'VT323', monospace;
}
